<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

    <!-- Vanilla Expanded Framework -->
        <!-- CSG -->
            <CSGTitle>Geração de estrutura personalizada:</CSGTitle>
            <CSGLog>Habilitar Debugging Log de geração de estrutura:</CSGLog>

        <!-- Toggable Patches -->
            <TPTitle>Patches alternáveis:</TPTitle>
            <NeedRestart>&lt;b&gt;&lt;color=red&gt;Todas as configurações precisam ser reiniciadas para serem aplicadas&lt;/color&gt;&lt;/b&gt;</NeedRestart>

</LanguageData>